.DS_Store

*.m~

*.c~

*.plist

_sev.parameters.txt
palidromes.txt

auxiliary/matlab_workspace.mat

*.asv

prefilter_dlg.bak

+filter/nlfilter_median.plist

A0097_4 174733.STA

output/*

biocals.evt

auxiliary/screenshotpath.mat

*.txt~

*.inf~

*.txt

*.mat
